#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Name=Better Control
GenericName=Better Control
Comment=Fast & feature-rich control center
TryExec=better-control
StartupNotify=true
Exec=/usr/bin/better-control
Icon=settings
Categories=System;Control;Settings;

# A project by "quantumvoid._" and "nekrooo_" <--- discord id
