#!/usr/bin/env xdg-open
[Desktop Entry]
Version=2.2
Type=Application
Name=control
GenericName=Control Center
Comment=Fast & feature-rich
TryExec=control
StartupNotify=true
Exec=python /usr/bin/control
Icon=settings
Categories=System;Control;Settings;
# A project by quantumvoid._ <--- discord id
